$default-separation: 14px;

// Layout
img.logo{
  float: left;
  margin-top: -7px;
}
.navbar-inner a.brand{
  padding: 0px 10px 0px 10px;
  span {
    position: relative;
    top: 10px;
    left: 5px;
  }
}

// Icons colors
.glyphicon {
  &.status-success { color: #21DA08; }
  &.status-fail { color: red; }
}

// Posting form
#posting-config .btn-primary{
  height: 60px;
}

// Scenario detail
#examples-nav {
  margin-bottom: $default-separation;
}

// Example detail
.example {
  display: flex;
}

.example-form {
  flex: 1;
  margin: 0 $default-separation;
  .btn {
    float: right;
    margin: 0 5px;
  }
}
.example-output {
  flex: 1;
  margin: 0 $default-separation;
}
