<div id="posting-config" class="row">
  <div class="col-sm-4 form-group">
    <label for="host">Environment:</label>
    {{view Ember.Select content=environments
      optionValuePath="content.value"
      optionLabelPath="content.name"
      class="form-control"
    }}
  </div>
  <div class="col-sm-4 form-group">
    <label for="scenario">Scenario:</label>
    {{view Ember.Select content=this
      optionLabelPath="content.name"
      prompt="--- Please select a scenario ---"
      class="form-control"}}
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary btn-lg btn-block" {{action "start"}}>Start</button>
  </div>
</div>
<div class="row">
  The result goes here.
</div>