<div id="posting-config" class="row">
  <div class="col-sm-4 form-group">
    <label for="host">Endpoints:</label>
    {{view Ember.Select content=endpoints
      optionValuePath="content.id"
      optionLabelPath="content.id"
      value=endpoint
      prompt="--- Please select a endpoint ---"
      class="form-control"
    }}
  </div>
  <div class="col-sm-4 form-group">
    <label for="scenario">Scenario:</label>
    {{view Ember.Select content=this
      optionLabelPath="content.description"
      optionValuePath="content.id"
      value=content.selected
      prompt="--- Please select a scenario ---"
      class="form-control"}}
  </div>
</div>

{{outlet}}